@media screen and (max-width:768px) {
    .banner-text{
        width: 100%;
        padding: 0;
    }
    .banner-img{
        width: 100%;
    }
    .banner-text h1{
        font-size:65px;
    }
}


@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
    }
    .logo-container{
        margin-bottom: 10px;
    }
    .banner-container{
        flex-direction:column-reverse;
    }
    .banner-text{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-text h1{
        font-size: 50px;
    }
}

    
