@media screen and (max-width:768px) {
    .banner-text {
        width: 100%;
        padding: 0;
    }

    .banner-img {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 65px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 100%;
    }

    .banner-img {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 50px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .blog-box {
        flex-direction: column-reverse;
    }

    .blog-img {
        width: 70%;

    }

    .blog-text {
        width: 100%;
    }

    .foot-head{
        flex-wrap: wrap;
    }
    .foot-list{
        flex-wrap: wrap;
    }
    .foot-icons{
        flex-wrap: wrap;
    }
    .foot-unorder ul {
        flex-wrap: wrap;
    }

}