* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.nav-container {

    min-height: 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.logo-container img {
    width: 86.041px;
    margin-right: 20px;


}

.logo-container h1 {
    text-align: center;

    font-size: 45px;

    font-weight: 700;
}

.fa-youtube {
    width: 33.916px;
    height: 24px;
    fill: #F61C0D;
}

.fa-tiktok {
    width: 24px;
    height: 24px;
}

.game {
    color: rgba(255, 66, 165, 1);
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 30px;
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-btn {

    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 15px 25px;
}


.banner-container {

    min-height: 80vh;
    display: flex;
}

.banner-text {
    width: 50%;
    padding: 100px;
    text-align: center;
    background-image: url(../images/Group\ 14.png)
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.banner-text h1 {

    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text h2 {
    color: #0B0223;


    font-size: 48px;

    font-weight: 600;

}

.banner-icon {

    color: #534C64;
    text-align: center;
    font-size: 20px;

    margin-bottom: 40px;


    font-weight: 500;



}

.banner-icon li {
    list-style: none;
}

.banner-icon p {
    text-align: center;
    margin-top: 10px;

}

.btn-primary {
    padding: 21px 40px;
    border-radius: 48px;
    margin-right: 20px;
}

.btn-sign {
    background-color: rgba(255, 66, 165, 1);
    color: white;
}

.btn-go {
    background-color: #4EC5F7;
    color: rgba(255, 255, 255, 1);
}

.product-head {
    margin-top: 50px;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.head-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.product-text {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.grid-container {

    display: grid;
    min-height: 500px;
    max-width: 1200px;
    margin: 20px auto 0;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);

}

.single-product {

    display: block;
    text-align: center;



}

.single-product img {
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
}


.blog-container {
    min-height: 500px;

}

.blog-box {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;

}

.blog-img {
    width: 50%;
    position: relative;
}

.blog-img img {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.blog-text {
    width: 50%;
    padding-left: 70px;
}

.style-img {
    width: 100%;
    height: 100%;
}

.style-img img {
    height: 60%;
    width: 40%;
    border-radius: 8px;
    border: 2px solid #FFF;

    position: absolute;
    top: 70%;
    left: 70%;

    object-fit: cover
}

.blog-text h2 {
    width: 300px;


    font-size: 48px;

    font-weight: 700;
    line-height: 60px;
}

.blog-text h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-text p {
    width: 300px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.files-container {

    min-height: 200px;
    max-width: 1000px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 90px auto 0;

    display: flex;
    flex-wrap: wrap;

    gap: 50px;
    align-content: center;
    justify-content: center;

}

.single-file {
    max-width: 150px;

}

.file-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    
}
.file-align:hover{
    border: 1px solid #F948B2;
    color: #F948B2;

}

.foot-container{
    margin-top: 20px;
    min-width:px;
    height: 500px;
    background: #0B0223;
}

.foot-head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 100px;
}

.foot-list{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.foot-list li{
    list-style: none;
    
}

.foot-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 50px;
}
.foot-icons a{
    color: white;
    width: 60px;
height: 30px;

}

.foot-unorder{
    color: white;
    
}
.foot-unorder ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
margin-top: 20px;
font-size: 16px;

font-weight: 500;

}
.foot-unorder ul li{
    list-style: none;
}
.foot-unorder p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
}